//- index.pug
doctype html
html
  head
    script(src="https://cdn.tailwindcss.com")
  body
    h2 Natjecanje "#{competition.name}"
    hr
    ul
      each game, index in games
        li #{game.homeTeam} vs #{game.awayTeam}

